body {
    background-color: rgb(229, 229, 229);
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin: 2vh 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.div-map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.div-texte {
    z-index: ;
    display: block;
}

#map {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}